{% block content %}
<!-- Modal -->
<div class="modal fade" id="create_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Новое событие</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="m-3" id="crm_form_add_new_event" action="/gh_crm/add_event">
					{% csrf_token %}
					<input type="hidden" name="event_id" data-event_id="">
					<div class="form-group">
						<label><b>Клиент</b></label>
						<select class="form-control" name="client_id">
							{% for client in clients %}
							<option value="{{client.id}}">{{client.client_name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label><b>Ответственный</b></label>
						<select class="form-control" name="responsible">
							<option value="Анатолий">Анатолий</option>
							<option value="Александр">Александр</option>
						</select>
					</div>
					<div class="form-group">
						<label><b>Дата события</b></label>
						<div class="input-group date datepicker" data-provide="datepicker" data-date-format="dd/mm/yyyy">
					    <input type="text" class="form-control" name="event_date">
					    <div class="input-group-addon">
					        <span class="glyphicon glyphicon-th"></span>
					    </div>
						</div>
					</div>
					<div class="form-group">
						<label><b>Событие</b></label>
						<select class="form-control" name="event_type">
							<option value="Звонок">Звонок</option>
							<option value="Встреча">Встреча</option>
							<option value="Предложение">Предложение</option>
							<option value="Договоренность">Договоренность</option>
							<option value="Подписание контракта">Подписание контракта</option>
						</select>
					</div>
					<div class="form-group">
						<label><b>Комментарий</b></label>
						<textarea class="form-control" rows="3" name="comment"></textarea>
					</div>
					<div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
		        <button type="submit" class="btn btn-success">Сохранить</button>
		      </div>
					<div class="text-center" id="event_add_status">

					</div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="add_new_client_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Новый Клиент</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<form id="crm_form_add_new_client" action="/gh_crm/add_client">
					{% csrf_token %}
					<div class="form-group">
						<label><b>Имя</b></label>
						<input class="form-control" name="client_name">
					</div>
					<div class="form-group">
						<label><b>Чего клиент хочет</b></label>
						<select class="form-control" name="client_type">
							<option value="Электромобиль: Автосалон">Электромобиль: Автосалон</option>
							<option value="Электромобиль: Аукцион">Электромобиль: Аукцион</option>
							<option value="Аукцион">Аукцион</option>
							<option value="Ремонт Авто">Ремонт Авто</option>
						</select>
					</div>
					<div class="form-group">
						<label><b>Телефон</b></label>
						<input class="form-control" name="client_phone">
					</div>
					<div class="form-group">
						<label><b>Email</b></label>
						<input class="form-control" name="client_email">
					</div>
					<div class="form-group">
						<label><b>Комментарий</b></label>
						<textarea class="form-control"rows="3" name="comment"></textarea>
					</div>
					<div class="custom-control custom-checkbox text-center">
					  <input type="checkbox" checked class="custom-control-input" id="customCheck1" name="isactive">
					  <label class="custom-control-label" for="customCheck1">Активный Клиент</label>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
						<button type="submit" class="btn btn-success">Сохранить</button>
					</div>
					<div class="text-center" id="client_add_status">

					</div>
				</form>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid h-100">
	<div class="row h-100">
		<div class="col-xl-1 col-lg-1 col-md-1 col bg-dark text-center" style="max-width: 80px;">
			<i class="my-3 fas fa-user-circle fa-3x text-white-50" id="curr_user" data-toggle="tooltip" data-placement="right" title="Текущий пользователь: ..."></i>
			<i class="my-3 fas fa-user-plus fa-2x text-white-50" id="add_new_client" data-toggle="modal" data-target="#add_new_client_modal" data-toggle="tooltip" data-placement="right" title="Добавить Нового Клиента"></i>
			<i class="my-3 fas fa-plus fa-2x text-white-50" id="add_new_event" data-toggle="modal" data-target="#create_modal" data-toggle="tooltip" data-placement="right" title="Добавить Новое Событие"></i>
			<i class="my-3 far fa-circle fa-2x text-danger"></i>
			<i class="my-3 far fa-circle fa-2x text-primary"></i>
			<i class="my-3 far fa-circle fa-2x text-success"></i>
		</div>
		<div class="col-xl col-lg col-md col">
			<div class="row my-2">
				<div class="col-10">
					<h4 class="text-dark">События</h4>
				</div>
				<div class="col text-center">
					<button class="btn btn-success w-100"  data-toggle="modal" data-target="#create_modal" name="button">Создать</button>
				</div>
				<div class="col text-center">
					<button class="btn btn-primary w-100" data-toggle="collapse" href="#crm_filter" aria-expanded="false" aria-controls="crm_filter" name="button">Фильтр</button>
				</div>
				<hr>
				<table class="table my-3 text-center">
				  <thead>
				    <tr>
				      <th scope="col">ST</th>
							<th scope="col"></th>
				      <th scope="col">Дата</th>
				      <th scope="col">Клиент</th>
				      <th scope="col">Событие</th>
							<th scope="col">Ответственный</th>
							<th scope="col">Создал</th>
							<th scope="col">Статус</th>
							<th scope="col">Комментарий</th>
				    </tr>
				  </thead>
				  <tbody>
						{% for event in events %}
						<tr>
							<td>
								{% if event.client_id.client_status %}
									<i class="client_on fas fa-user fa-2x text-success clicker" data-client_id="{{event.client_id.id}}"></i>
								{% else %}
									<i class="client_off fas fa-user fa-2x text-secondary clicker" data-client_id="{{event.client_id.id}}"></i>
								{% endif %}
							</td>
							<td>
								<a onclick="upd_event(this)" data-event_id="{{event.id}}" data-event_client="{{event.client_id.id}}" data-event_type="{{event.event_type}}" data-event_curator="{{event.event_curator}}" data-event_status="{{event.event_status}}" data-event_comment="{{event.event_comment}}" data-event_date="{{event.event_date}}"><i class="fas fa-pen fa-1x update_event""></i></a>
							</td>
							<td>{{event.event_date}}</td>
							<td>{{event.client_id.client_name}}</td>
							<td>{{event.event_type}}</td>
							<td>{{event.event_curator}}</td>
							<td>{{event.event_creator}}</td>
							<td>
								{% if event.event_status == 'Не Выполнено' %}
									<span class="event_on text-danger clicker" data-event_id="{{event.id}}">{{event.event_status}}</span>
								{% else %}
									<span class="event_off text-success clicker" data-event_id="{{event.id}}">{{event.event_status}}</span>
								{% endif %}
							</td>
							<td>{{event.event_comment}}</td>
						</tr>
						{% endfor %}
				  </tbody>
				</table>
			</div>
		</div>
		<div class="col-xl-2 col-lg-2 col-md-2 col-2 collapse" id="crm_filter">
			Фильтр выборки
		</div>
	</div>
</div>


{% endblock %}
